@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}


.app {
  @apply relative w-full h-screen overflow-hidden;
  overflow: auto;
  display: grid;
  &::-webkit-scrollbar {
    width: 0.7rem;
    max-height: 2rem;
    &-thumb {
      background-color:rgba(255, 255, 255, 0.6);
    }
  }
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
  display: contents;
}

.ub {
  text-align: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 30px;         
  font-weight: 750;
  color: rgb(235,236,243);

}
.home_content1 {
  display: flex;
  height: 1000px;
  margin-left: 50px;
  background-color: rgb(8,8,8);
}
.section {
  height: 1000px;
  background-color: rgb(8, 8, 8);
  padding-top: 30px;
  margin-left: 50px;
  display: block;
}
.section1 {
  height: 3000px;
  background-color: rgb(8, 8, 8);
  padding-top: 30px;
  margin-left: 50px;
  display: block;
}

.g {
  margin-top: 12%;
  margin-left: 20%;
}
.example1 {
  background-color: rgb(17, 17, 17);
  border-width: 3px;
  border-color: #b0f;
  width: 310px;
  height: 345px;
  margin-left: 380px;
  border-radius: 8%;
}
.example2 {
  background-color: rgb(17, 17, 17);
  border-width: 3px;
  border-color: #b0f;
  width: 310px;
  height: 345px;
  margin-left: 50px;
  border-radius: 8%;
}
.example3 {
  background-color: rgb(17, 17, 17);
  border-width: 3px;
  border-color: #b0f;
  width: 310px; 
  height: 345px;
  border-radius: 8%;
}
.example4 {
  background-color: rgb(17, 17, 17);
  border-width: 3px;
  border-color: #b0f;
  width: 310px;
  height: 345px;
  border-radius: 8%;
  margin-left: -50px;
}  
.nab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 130px;
  margin-left: 25px;
}
.head-text {
  @apply xl:leading-[5rem] leading-[10rem] ;
  text-align: center;
  font-weight: 650;
  font-size: 80px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
  color: rgba(210, 210, 210, 0.7); 
  filter: blur(0.3);      
  
}
.head-text2 {
  @apply xl:leading-[5rem] leading-[10rem] ;
  text-align: center;
  font-weight: 750;
  font-size: 70px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
  color: rgba(235, 236, 243); 
  margin-top:-45px ;
  margin-bottom: 45px;
}
.about {
  @apply xl:leading-[5rem] leading-[10rem] ;
  margin-right: 47%;
  font-weight: 650;
  font-size: 70px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
  color: rgb(235,236,243);       
  margin-bottom: 40px;
}
.stick {
    height: 7px;
    width: 80%;
    color:rgb(235,236,243) ;
}
.head-text1{
  @apply xl:text-[10rem] text-[10rem] xl:leading-[10rem] leading-[10rem] font-black;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  color: rgb(235,236,243); 
  font-size: 70px; 
  display: flex;
  margin-block: calc(20px + 16 * (100vw / 1280));
  margin-left: 290px;
}

.head-textcon {
  @apply xl:text-[10rem] text-[10rem] xl:leading-[10rem] leading-[10rem] font-black;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  color: rgb(235,236,243); 
  font-size: 105px; 
  display: flex;
  margin-block: calc(20px + 16 * (100vw / 1280));
}

.carta_1 {
  position:relative;
  overflow:hidden;
}

.carta_2 {
  color:#000000;
  font-size:12px;
  position:absolute;
  top:0px;
}

.carta_3 {
  color:#000000;
  font-size:12px;
  position:absolute;
  top:14px;
}

.contcarta {
  text-align: center;
  

}

.carta {
  width: 350px;

}

.carta_4 {
  color:#000000;
  font-size:12px;
  position:absolute;
  top:28px;
  border-radius: 50%;
}
.carta_5 {
  position:relative;
  /*border-radius: 20%;*/
}

.line {
  background-color: rgb(163, 79, 227);
  height: 7px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;

}

.razrab {
  height: 1024px;
  padding: 0;
  display: flex;

}

.razrabtext {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fonrazrab1 {
  background-image: url(../public/shar.png);
  width: 510px;
  height: 1100px;
}

.dbbs {
display: ruby;
}

.contactoz {
  display: flex;
  justify-content: center;

}


.foter {
color: #ebecf3;
display: flex;
justify-content: space-around;

}

h3 {
  color: #b0f;
}

.cont1 {
  text-align: center;
  width: 400px;
  display: grid;
}

.linebb {
  height: 3px;
  background: rgb(113,114,117);
  width: 1000px;
  margin-left: calc(40px + 16 * (100vw / 1280));
}

.lineabout {
  height: 3px;
  background: rgb(113,114,117);
  width: 800px;
  margin-left: 59px;
}
.a {
  display: flex;
  justify-content:space-around ;
}

.linerazrab {
  height: 3px;
  background: rgb(113,114,117);
  width: 697px;
  margin-left: calc(40px + 16 * (100vw / 1280));
}

.nt {
  color: #b0f;
  font-size: -webkit-xxx-large;

}

.colomnleft {
  width: 500px;
  text-align: center;
}

.kr {
  color: #ebecf3;
  display: flex;
  justify-content: space-around;

}

.textaboutgl{
  text-align: center;
  color: #ebecf3;
  padding: 20px 50px;
  font-size: 20px;
}


.textaboutpr {
  text-align: center;
  color: #ebecf3;
  padding: 20px 50px;
  font-size: 15px;
}



.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
  @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.sketch-picker {
  width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}
.image {
   width: 75px;
   height: 79px;
   display: flex;
  margin-left: 250px;
  margin-top: 15px;
  width: 75px;
  height: 79px;
  opacity: 1;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}
.image2 {
  width: 105px;
  height: 109px;
  margin-left: 105px;
  margin-top: 55px;
  margin-bottom: 55px
}

.image1 {
  width: 75px;
  height: 79px;
  opacity: 1;
  margin-left: 195px;
  margin-top: -1270px;
   width: 75px;
   height: 79px;
   display: flex;
  margin-left: 250px;
  margin-top: 15px;
}

.headerContent {
  display: flex;


}


.header {
  display: flex;
  align-items: center;
  background: rgba(17,17, 17, 0.3);
  background: transparent;
  /* backdrop-filter: blur(13px); */
  height: calc(64px + 16 * (100vw / 1280));
  width: 100%;
  /* position: fixed; */
  margin-left:50px ;
}
#root {
  background: rgb(8,8,8);
}


.header2 {
  display: flex;
  background-color: rgb(8, 8, 8);
  height: 100%;
  width: calc(50px + 16 * (100vw / 1280)); 
  float: left;
  display: block;
  position: fixed;
}
.text1{
  margin-top: 15px;
  margin-left: -140px;
}

.texthead {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  position: fixed;
}

.item1 {
  font-size: medium;
  align-content: center;
  transform: rotate(90deg);
  transform-origin: center;
  
}

.dd{
  margin-top: 40px;
  margin-bottom: 100px;
  transform: rotate(90deg);
  transform-origin: center;
  font-size: medium;
  margin-top: 100px;

}

.opicanie {
  text-align: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: calc(2px + 16 * (100vw / 1280));         
  color: rgb(235,236,243);
  margin-bottom: 30px;

}
.opicanie1 {
  align-items: center;
  transform: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 35px;   
        
  color: rgb(210, 210, 210);
  margin-left: 20.5%;
  margin-bottom: 130px;

}


.item3 {
  font-size: 19px;
  align-content: center;
}

.link{
  color: rgb(113,114,117);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;        
  margin: auto;
}

a {
  text-decoration: none;
}

.knopka {
  display: flex;
  
}
.txcol{
  color: #b0f;
}

.opisan {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.link:hover {
  color: #b0f;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
 
.social-icons a {
  margin: 0 10px;
}
 
.icon {
  width: 100px; 
  height: 100px; 
  transition: transform 0.3s;
}
 
.social-icons a:hover img {
  transform: scale(1.2); 
  color: #b0f;

}

.fonhead {
  width: calc(84px + 16 * (100vw / 1280));
  height: calc(50px + 16 * (100vw / 1280)); 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: #8c0000;
  flex-shrink: 0;
  flex-direction: column-reverse;
}

.fonhead:hover {
  border-right: #b0f;
  background: #111;
}

.linehead {
  transform: rotate(0deg);
  -o-transform-origin: center;
  height: 2px;
  width: calc(84px + 16 * (100vw / 1280)); 
  color: rgb(8, 8, 8)
}

.fonhead:hover .link {
  color: #b0f;
}

.fonhead:hover .linehead {
  background: #b0f;
}

.fonhead:focus {
  background: #111;
}

.social-icons:hover {
  color: #b0f;

}

#Layer_1:hover {
  color: #b0f;
  background: #b0f;
}

div:focus {
  color: #b0f;
  border: 1px solid blues;
}


/* .about { */
  /* width: 100%;
  height: 1300px;
  display: flex;
  justify-content: space-between;
} */

.vstavka {
  width: 600px;
  margin-left: 10%;
  border-style: solid;
  border-color: #ebecf3;
  border-width: 5px;
  text-align: center;
  background: rgb(17, 17, 17);
  padding: 30px;
}

.textbout {
  text-align: center;
  color: #ebecf3;
  font-size: 35px;
  font-family: Nunito Sans;
}


.izolen {
  width: 1260px;
  height: 1000px;
  background-image: url(../public/fona.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 227px;
}

.shestabout {
    width: 780px;
    height: 850px;
}
 
.head_logo_text {
  @apply xl:text-[10rem] text-[10rem] xl:leading-[10rem] leading-[10rem] font-black;
  font-size: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  font-size: 43px;
  color: rgb(235,236,243);       
  margin-left: 30px;

}

.logof {
  height: 180px;
}

.sis {
  padding: 5px;
  font-size: 16px;
}

.OOO {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 2%;
}
.progress {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  width: 10px;
  background: #b0f;
  transform-origin: 0%;
}
